<form method="post" action="{{ path('contact_info_delete', {'id': contact_info.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact_info.id) }}">
    <button class="pure-button button-error">Delete</button>
</form>
