{% extends 'base.html.twig' %}

{% block title %}Edit ContactInfo{% endblock %}

{% block body %}
    <h1>Edit ContactInfo</h1>

    <div class="content">
        {{ include('contact_info/_form.html.twig', {'button_label': 'Update', 'delete_button_enable' : true}) }}
    </div>


{% endblock %}
