{% extends 'base.html.twig' %}

{% block title %}New ContactInfo{% endblock %}

{% block body %}
    <h1>Create new ContactInfo</h1>

    <div class="content">
        {{ include('contact_info/_form.html.twig') }}
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

{% endblock %}