{% extends 'base.html.twig' %}

{% block title %}New ContactInfo{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .content{
            display: flex;
            justify-content: center;
        }
        .form-contact-info{
            width: 300px;
        }
        input{
            width: 100%;
        }
    </style>
{% endblock %}
{% block body %}
    <h1 style="text-align: center">Create new ContactInfo</h1>

    <div class="content">
        {{ include('contact_info/_form.html.twig') }}
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/imask"></script>
    <script type="text/javascript">
        let element = document.getElementById('contact_info_phoneNumber');
        let maskOptions = {
            mask: '+{7}(000)000-00-00'
        };
        let mask = new IMask(element, maskOptions);
    </script>
{% endblock %}